*{
    padding: 0%;
    margin: 0%;
}

#page1{
    background-image: url(/ai_generated_image_HEVESIBALAZS_farm_look1_hd.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#page2{
    background-image: url(/ai_generated_image_HEVESIBALAZS_nagyihouse_look1_hd.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#pageo1w1{
    background-image: url(/ai_generated_image_HEVESIBALAZS_carinnight_look1_hd.jpeg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#pageo1o1w1{
    background-image: url(/ai_generated_image_HEVESIBALAZS_carinside_look1_hd.jpeg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#pageo2w2od{
    background-image: url(/ai_generated_image_HEVESIBALAZS_frontdoor_look1_hd.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#no1{
    background-image: url(/ai_generated_image_HEVESIBALAZS_farmside_look1_hd.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#no2{
    background-image: url(/ai_generated_image_HEVESIBALAZS_darkroom_look1_hd.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#no3{
    background-image: url(/ai_generated_image_HEVESIBALAZS_happygrandma_look1_hd.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#no4op1{
    background-image: url(/ai_generated_image_HEVESIBALAZS_emptyrooms_look1_hd.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#op1{
    background-image: url(/ai_generated_image_HEVESIBALAZS_phone_look1_hd.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#no4op2{
    background-image: url(/ai_generated_image_HEVESIBALAZS_policeman_look1_hd.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#end1{
    background-image: url(/ai_generated_image_HEVESIBALAZS_policeman_look1_hd.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#downbar{
    background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0,0,0,1));
    width: 100%;
    height: 200px;
    position: absolute; bottom: 0px;
}

ul{
    width: 100%;
    height: 45px;
    position: absolute; bottom: 90px;
}

li{
    margin: 10px;
    text-align: center;
}

a{
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    text-decoration: none;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}

a:hover{
    color: yellow;
}

#storyline-text{
    color: white;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xxx-large;
    text-align: center;
}

.label{
    width: 100%;
}
